doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    h1 My Amazing App

    block content
      if registrations.length
        table
          tr
            th Name
            th Email
          each registration in registrations
            tr
              td= registration.name
              td= registration.email
      else
        p No registrations yet :(